{% extends 'gym/adminbase.html' %}
{% load static %}
{% block content %}
<style>
	table {
		font-family: arial, sans-serif;
		border-collapse: collapse;
		width: 100%;
		margin-top: 20px;
	  }
	  
	  td, th {
		border: 1px solid #dddddd;
		text-align: center;
		padding: 8px;
	  }
	  
	  tr:nth-child(even) {
		background-color: #f0faff;
	  }
	.charts {
		
		 grid-template-columns: 1fr;
		/* gap: 30px; */
		margin-top: 30px;
		justify-content: space-around;
		/* align-items: center; */
		/* justify-items: center; */
		/* align-content: space-around; */
	}

</style>
<main>
	<div class="main__container">
	  <!-- MAIN TITLE STARTS HERE -->

	  <div class="main__title">
		<img src="{% static "assets/muscle.svg" %}" alt="" />
		<div class="main__greeting">
		  <h1>Hello {{request.user.username}}</h1>
		  <p>Welcome to your admin dashboard</p>
		</div>
	  </div>

	  <!-- MAIN TITLE ENDS HERE -->


	  <!-- CHARTS STARTS HERE -->
	  <div class="charts">
		<div class="charts__left">
		  <div class="charts__left__title">
			<div>
			  <h1>Trainer Shift</h1>
			  
			</div>
			<i class="fa fa-calendar" aria-hidden="true"></i>
		  </div>
		  
<table>
	<tr>
	  <th>Name</th>
	  <th>Profile Pic</th>
	  <th>Mobile</th>
	  
	  <th>Experience</th>
	  <th>Shift</th>
	 
	  <th>Edit Shift</th>
	  
	</tr>
	{% for t in trainers %}
                <tr>
                  <td> {{t.get_name}}</td>
                  <td> <img src="{% static t.profile_pic.url %}" alt="Profile Pic" height="40px" width="40px" /></td>
                  <td>{{t.mobile}}</td>
                 
				  <td>{{t.experience}}</td>
				  <td>{{t.shift}}</td>
				
                  <td><a  style="color:red; text-decoration:none;font-size:25px;" href="{% url 'edit-trainer' t.id  %}"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></a></td>
                  {% comment %} <td><a style="color:blue; text-decoration:none;font-size:25px;"href="{% url 'delete-trainer' t.id  %}"><i class="fa fa-trash" aria-hidden="true"></i></a></td> {% endcomment %}
                </tr>
    {% endfor %}
	
  </table>
  
		</div>

		
	  </div>
	  <!-- CHARTS ENDS HERE -->

	  


	</div>
  </main>
 

  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
  <script>
	const data = {
		labels: [
		  'Red',
		  'Blue',
		  'Yellow'
		],
		datasets: [{
		  label: 'My First Dataset',
		  data: [300, 50, 100],
		  backgroundColor: [
			'rgb(255, 99, 132)',
			'rgb(54, 162, 235)',
			'rgb(255, 205, 86)'
		  ],
		  hoverOffset: 4
		}]
	  };
	const config = {
		type: 'doughnut',
		data: data,
	  };
	
	  const myChart = new Chart(
    document.getElementById('myChart'),
    config
  );
</script>

{% endblock content %}
