{% extends 'gym/adminbase.html' %}
{% load static %}
{% load widget_tweaks %}
{% block content %}
<style>
  input[type=text], select,input[type=number] ,input[type=password], textarea{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }

  input[type=submit] {
    width: 100%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }

  input[type=submit]:hover {
    background-color: #45a049;
  }
  
	table {
		font-family: arial, sans-serif;
		border-collapse: collapse;
		width: 100%;
		margin-top: 20px;
	  }
	  
	  td, th {
		border: 1px solid #dddddd;
		text-align: center;
		padding: 8px;
	  }
	  
	  tr:nth-child(even) {
		background-color: #f0faff;
	  }
	.charts {
		
		 grid-template-columns: auto;
		/* gap: 30px; */
		margin-top: 30px;
		justify-content: space-around;
		/* align-items: center; */
		/* justify-items: center; */
		/* align-content: space-around; */
	}

</style>
<main>
	<div class="main__container">
	  <!-- MAIN TITLE STARTS HERE -->

	  <div class="main__title">
		<img src="{% static "assets/weighlifter.svg" %}" alt="" />
		<div class="main__greeting">
		  <h1>Hello {{request.user.username}}</h1>
		  <p>Manage Equipment Of Your Gym</p>
		</div>
	  </div>

	  <!-- MAIN TITLE ENDS HERE -->


	  <!-- CHARTS STARTS HERE -->
	  <div class="charts">
		<div class="charts__left">
		  <div class="charts__left__title">
			<div>
			  <h1>ADD EQUIPMENT </h1>
			  
			</div>
			<i class="fa fa-cog" aria-hidden="true"></i>
		  </div>


      
    </br> </br>
      <form method="post"  enctype="multipart/form-data"  >
          {% csrf_token %}
    
            <label>Equipment Name</label>
            {% render_field equipmentForm.name class="form-control" placeholder="Name" %}

            <label>Description</label>
            {% render_field equipmentForm.description class="form-control" placeholder="Description" %}

            <label>Price</label>
            {% render_field equipmentForm.price class="form-control" placeholder="amount" %}

            <label>Unit</label>
            {% render_field equipmentForm.unit class="form-control" placeholder="unit" %}

            <label for="profile_pic">Picture</label>
            {% render_field equipmentForm.pic class="form-control" %}
 


                  </br></br></br>
        <input type="submit" value="Add">
      </form>
		</div>

		
	  </div>
	  <!-- CHARTS ENDS HERE -->

	  


	</div>
  </main>
 


{% endblock content %}
