<!DOCTYPE html>
{% load static %}
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <style media="screen">
    .jumbotron {
      margin-top: 0px;
      margin-bottom: 0px;
      background-image: url('{% static "images/bg4.jpg" %}');
      background-size: auto 100%;
      background-position: center center;
      background-repeat: repeat;
    }

    .jumbotron h1 {
      text-align: center;
    }
  </style>
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/3/w3.css">
</head>

<body>
  {% include "gym/navbar.html" %}
  <br><br>

  <div class="jumbotron" style="margin-bottom: 0px;margin-top: 0px;">
    <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
  </div>

  <br><br>

<!-- Band Description -->
<section class="w3-container w3-center w3-content" style="max-width:600px">
  <h2 class="w3-wide">POWER GYM</h2>
  <p class="w3-opacity"><i>We love muscle ~ power gym</i></p>
  <p class="w3-justify">
    Every single time you step into the gym. There’s no other way to get those gains. The pain and struggle is what you need to push through in order to make progress.

    Every single time you stop before you’re through the pain, you’re letting yourself down.
    
    Go to the gym. Go beast mode and push through the pain.. And you’ll be well on your way to become a stronger you!</p>
</section>
</br>
<!-- Band Members -->
<section class="w3-row-padding w3-center w3-light-grey">
  <article class="w3-third">
   
    <img src="{% static "assets/member.svg" %}" alt="Random Name" style="width:100%">
   
  </article>
  <article class="w3-third">
    
    <img src="{% static "assets/barbell.svg" %}" alt="Random Name" style="width:100%">
    
  </article>
  <article class="w3-third">
    
    <img src="{% static "assets/trainer.svg" %}" alt="Random Name" style="width:100%">
    
  </article>
</section>


  {% include "gym/footer.html" %}
</body>

</html>
